header {
  height: 150px;
  padding: 20px;
  color: white;
  background-color: #222;

  img {
    height: 80px;
    animation: App_logo_spin infinite 20s linear;
  }
}

@keyframes App_logo_spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
