header {
  height: 150px;
  {{#mobile}}
  height: 300px;
  {{/mobile}}
  padding: 20px;
  {{#mobile}}
  padding: 40px;
  {{/mobile}}
  color: white;
  background-color: #222;

  img {
    height: 80px;
    {{#mobile}}
    height: 160px;
    {{/mobile}}
    animation: App_logo_spin infinite 20s linear;
  }
}

@keyframes App_logo_spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
